<section class="container w-2/4 flex flex-col mx-auto p-4 overflow-hidden rounded-lg bg-white shadow-lg">
    <label class="hover:bg-blue-500 self-center w-64 flex flex-col items-center px-4 py-6 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer  hover:text-white">
        <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
        </svg>
        <span class="mt-2 text-base leading-normal">Select new Json file</span>
        <input type="file" accept=".json" class="hidden" (change)="onFileSelected($event)"/>
    </label>
    <p class="self-center text-sm mt-2">Search for json <a href="https://mtgjson.com/downloads/all-sets/" target=”_blank” class="text-blue-600 dark:text-blue-500 hover:underline">here</a></p>
</section>

<section class="mt-10 container flex flex-wrap gap-x-11 gap-y-3 justify-center mx-auto p-4 overflow-hidden rounded-lg bg-white shadow-lg">
    <ng-container *ngIf="jsonBaseArr">
        <a class="no-default" [href]="'/hub/' + jsonBase.id" (click)="onGoToHub($event, jsonBase)" *ngFor="let jsonBase of jsonBaseArr">
            <div [ngClass]="{'hover:bg-blue-500 border-blue': !jsonBase.isEverythingDoneF, 'hover:bg-green-500 border-green': jsonBase.isEverythingDoneF}" style="min-height: 158px;" class="parent relative w-64 flex flex-col items-center px-4 py-6 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border  cursor-pointer hover:text-white">
                <img class="set-svg absolute opacity-10 w-24" [src]="'/api/entity/json-base/' + jsonBase.id + '/icon-svg?cahce=' + jsonBase.iconModifDate.getTime()">
                <span class="mt-2 text-base leading-normal">{{ jsonBase.setCode }}</span>
                <span class="mt-2 text-xs text-center leading-normal">{{ jsonBase.name }}</span>
                <img *ngIf="jsonBase.isEverythingDoneF" class="w-6 h-6 absolute bottom-2 right-1" src="assets/tick.svg" alt="Tick Icon" >
            </div>
        </a>
    </ng-container>
</section>
