<section
  *ngIf="compareList"
  class="container w-3/4 flex flex-col mx-auto px-4 h-full rounded-lg bg-white shadow-lg"
>
  <app-breadcumb
    [id]="id"
    [setCode]="setCode"
    [subMenu]="'Compare Screen'"
  ></app-breadcumb>
  <form
    *ngIf="compareList?.cardMapping"
    [formGroup]="myFormGroup"
    (ngSubmit)="onSubmit()"
  >
    <div class="sticky top-4 self-end">
      <button [disabled]="renameState === 'finished'" class="w-28 mr-2" [ngClass]="{'btn-primary': renameState === 'init' || renameState === 'load', 'btn-finished': renameState === 'finished'}" type="submit">
        <ng-container *ngIf="renameState === 'init'">
          Save
        </ng-container>
        <ng-container *ngIf="renameState === 'load'">
          Load
        </ng-container>
        <ng-container *ngIf="renameState === 'finished'">
          Finished
        </ng-container>
      </button>
      <a class="w-28" [routerLink]="['/', 'hub', id]"
        ><button class="btn-secondary">Back</button></a
      >
    </div>
    <div
      class="flex flex-wrap -mx-4 justify-center"
      *ngFor="let card of compareList.cardMapping"
    >
      <div>
        <div class="flex items-center mb-4 border border-gray-300 p-4">
          <div
            class="mr-4 flex flex-row justify-center"
            style="min-width: 36rem"
          >
            <img
              src="http://localhost:5004/{{ setCode }}/raw/{{ card.img }}"
              alt="Image 1"
              class="w-72 h-auto"
            />
            <img
              *ngIf="card.hasBack"
              src="http://localhost:5004/{{ setCode }}/raw/{{
                card.img.split('.png')[0]
              }}_F.png"
              alt="Image 2"
              class="w-72 h-auto"
            />
          </div>
          <div class="d-inline-block ml-3 w-64">
            <b>{{ card.name }}</b
            ><br />
            <ng-container
              *ngFor="let cardNum of findPossibleCardNumbers(card.name)"
            >
              <input
                class="mr-1 mb-4 inline-block"
                type="radio"
                formControlName="{{ card.img }}"
                name="{{ card.img }}"
                value="{{ cardNum }}"
                id="{{ cardNum + card.img }}"
              />
              <label for="{{ cardNum + card.img }}">{{ cardNum }}</label>
              <br />
            </ng-container>
            <input
              class="mr-1 inline-block"
              type="radio"
              formControlName="{{ card.img }}"
              name="{{ card.img }}"
              value="{{ null }}"
              id="{{ 'nope' + card.img }}"
            />
            <label for="{{ 'nope' + card.img }}">Nope</label>
            <br />
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
