Comperen vagy he
<div *ngIf="!compareList">
  <p>Sajnos nem volt `compareList`, lépj vissza 1 oldalt :)</p>
  <button class="btn btn-primary" [routerLink]="'/'">Vissza</button>
</div>

<div *ngIf="compareList" class="container mx-auto">
  <div *ngIf="isRenameFinised">
    <button class="btn my-4" [ngClass]="isRenameFinised && !isResizeDone ? 'btn-primary' : 'btn-warning'" (click)="onResize()">Start Resize</button>
    <input [(ngModel)]="quality">
    <ng-container *ngIf="errArr">
      <p>
        <span *ngFor="let err of errArr">{{err}}</span>
      </p>
    </ng-container>
    <p *ngIf="isResizeDone">A képek átméretezése megtörtént, következő léps az <b>Convert webp</b></p>
  </div>
  <div *ngIf="isResizeDone">
    <button class="btn my-4" [ngClass]="isResizeDone && !isConvertWebpDone ? 'btn-primary' : 'btn-warning'" (click)="onConvertToWebp()">Start Convert webp</button>
  </div>
  <form *ngIf="compareList?.cardArray" [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
    <input class="btn btn-primary my-4" [ngClass]="!isRenameFinised? 'btn-primary' : 'btn-warning'" type="submit" value="save"/>
    <p *ngIf="isRenameFinised">A képek átnevezése megtörtént, következő léps az <b>Resize</b></p>
    <div *ngFor="let card of compareList.cardArray">
      <div class="d-inline-block" [ngClass]="{'filp-div': card.isFlip, 'normal-div': !card.isFlip}">
        <img class="card-size" alt="" src="http://localhost:5004/{{jsonName}}/raw/{{card.imgName}}">
        <img class="card-size" alt="" *ngIf="card.isFlip" src="http://localhost:5004/{{jsonName}}/raw/{{card.imgName.split('.png')[0]}}_F.png">
      </div>
      <div class="d-inline-block ml-3">
        <b>{{card.imgName}}</b><br>
        <ng-container *ngFor="let cardNum of findPossibleCardNumbers(card.cardName)">
          <input class="mr-1" type="radio" formControlName="{{card.imgName}}" name="{{card.imgName}}" value="{{cardNum}}" id="{{cardNum + card.imgName}}">
          <label for="{{cardNum + card.imgName}}">{{cardNum}}</label>
          <br>
        </ng-container>
        <input class="mr-1" type="radio" formControlName="{{card.imgName}}" name="{{card.imgName}}" value="{{null}}" id="{{'nope' + card.imgName}}">
          <label for="{{'nope' + card.imgName}}">Nope</label>
          <br>
      </div>
    </div>
    <input class="btn btn-primary my-4" [ngClass]="!isRenameFinised? 'btn-primary' : 'btn-warning'" type="submit" value="save"/>
    <p *ngIf="isRenameFinised">A képek átnevezése megtörtént, következő léps az <b>Resize</b></p>
  </form>
  <div *ngIf="isRenameFinised">
    <button class="btn my-4" [ngClass]="isRenameFinised && !isResizeDone ? 'btn-primary' : 'btn-warning'" (click)="onResize()">Start Resize</button>
    <input [(ngModel)]="quality">
    <ng-container *ngIf="errArr">
      <p>
        <span *ngFor="let err of errArr">{{err}}</span>
      </p>
    </ng-container>
    <p *ngIf="isResizeDone">A képek átméretezése megtörtént, következő léps az <b>Convert webp</b></p>
  </div>
  <div *ngIf="isResizeDone">
    <button class="btn my-4" [ngClass]="isResizeDone && !isConvertWebpDone ? 'btn-primary' : 'btn-warning'" (click)="onConvertToWebp()">Start Convert webp</button>
  </div>
</div>



