Ez lett választva {{setCode}}
<section class="">
  Ha nincs meg a link, <a [href]="'https://magic.wizards.com/en/news/card-image-gallery?search=' + searchTerm" target=”_blank”>itt</a> keressed 
  <div>
    <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900">Adding Url</label>
    <input class="input" [(ngModel)]="url">
  </div>
    <button class="btn btn-primary" (click)="onAddingUrl()">Adding Url</button>
    <br>
    <hr>
    <div *ngFor="let url of urlList">
      <p style="display:inline-block">{{url}}</p><button class="btn btn-danger" (click)="onDeleteUrl(url)" style="margin-left:10px">Delete</button>
    </div>
  
    <button class="" [disabled]="setCode === undefined || this.urlList.length === 0" class="btn btn-primary mt-4" (click)="onSendToBackend()">Send To Backend</button>
    <div *ngIf="isLoading">Töltődik</div>
</section>

<a class="w-28 self-end" [routerLink]="['/','hub', id]"><button class="btn-secondary">back</button></a>

