
<input type="file" requiredFileType="application/json" class="file-upload" (change)="onFileSelected($event)">
Almafa

TODO kilistázni az összes feltöltött json-t

<button (click)="onDownloadStart()">Start download</button>

<ng-container *ngIf="jsonBases">
    <div *ngFor="let a of jsonBases">
        {{a.version}}
        {{a.setCode}}
    </div>
</ng-container>

<ng-container *ngIf="step >= 2">
    <h1  class="mt-5">Adding Url</h1>
    <input [(ngModel)]="url">
    <button class="btn btn-primary" (click)="onAddingUrl()">Adding Url</button>
    <hr>
    <div *ngFor="let url of urlList">
      <p style="display:inline-block">{{url}}</p><button class="btn btn-danger" (click)="onDeleteUrl(url)" style="margin-left:10px">Delete</button>
    </div>
    <br>
    <button class="btn btn-primary" (click)="onUpload()">Upload</button>
</ng-container>

{{cardService}}

